:root {
    --bg-color: #2D3142;
    --header-color: #4F5D75;
    --section-color: #7E8695;
    --text-color: #FFFFFF;
    --button-color: #EF8354;
    --highlight-color: #FFA680;
    margin: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background-color: var(--header-color);
}

.left {
    padding: 0 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--text-color);
    background-color: var(--section-color);
    padding: 0 1rem;
    border-radius: 0.5rem;
}

.right {
    padding: 0 1rem;
}

#postButton,
#logoutButton,
#loginButton,
#registerButton {
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#postButton:hover,
#logoutButton:hover,
#loginButton:hover,
#registerButton:hover {
    background-color: var(--highlight-color);
}

.hamburger {
    display: none;
}

nav.menu {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 780px) {
    nav.menu {
        display: none;
        flex-direction: column; /* Stack items vertically */
        position: absolute;
        top: 60px; /* Position below header */
        right: 10px;
        background-color: var(--header-color);
        border-radius: 8px;
        outline: 0.25rem solid var(--bg-color);
        padding: 10px;
        z-index: 100;
    }

    nav.menu.show {
        display: flex; /* Show menu when activated */
    }

    .hamburger {
        display: inline-block; /* Show hamburger icon on mobile */
        padding: 0.5rem 1rem;
        background-color: var(--button-color);
        color: var(--text-color);
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 1rem;
    }

    .hamburger:hover {
        background-color: var(--highlight-color);
    }
}

#posts-section {
    text-align: center;
    margin: 20px;
}

.post {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--header-color);
    max-width: 50rem;
    color: var(--text-color);
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-author {
    display: flex;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-location {
    background-color: var(--section-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.post-text {
    display: flex;
    margin: 0 5rem 1rem 5rem;
}

.pic {
    width: auto; /* Make optional picture responsive */
    height: auto;
    max-height: 30rem;
    max-width: fit-content;
}

.post-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.like-button,
.dislike-button,
.comment-button {
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0 0.5rem;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.like-button:hover,
.dislike-button:hover,
.comment-button:hover {
    background-color: var(--section-color);
}

footer {
    margin: 0;
    padding: 3rem;
    background-color: var(--header-color);
    color: var(--text-color);
}