:root {
    --bg-color: #2D3142;
    --header-color: #4F5D75;
    --section-color: #7E8695;
    --text-color: #FFFFFF;
    --button-color: #EF8354;
    --highlight-color: #FFA680;
    margin: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background-color: var(--header-color);
}

.left {
    padding: 0 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--text-color);
    background-color: var(--section-color);
    padding: 0 1rem;
    border-radius: 0.5rem;
}

.right {
    padding: 0 1rem;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 0 3rem;
}

#homeButton {
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#homeButton:hover {
    background-color: var(--highlight-color);
}

.post-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;

    max-width: 50rem;
    max-height: 25rem;
}

.post-text {
    color: var(--text-color);
    align-self: flex-start;
    margin: 1rem 4rem;
}

#post-input {
    width: 50rem;
    height: 25rem;

    max-width: 80%;
    max-height: 80%;

    font-size: 1rem;
}

footer {
    padding: 3rem;
    background-color: var(--header-color);
    color: var(--text-color);
}