<footer>
    <div class="proj-info">
        <p class="catagory">Lochyl</p>
        <a href="https://github.com/JMitchell919/csc403-Temp_Name"><p class="indented">Github</p></a>
    </div>
    <div class="authors">
        <p class="catagory">Authors</p>
        <p class="indented">Kiefer Armand</p>
        <p class="indented">Lily Derosa</p>
        <p class="indented">Caleb Matherne</p>
        <p class="indented">Jesse Mitchell</p>
    </div>
    <div class="space3"></div>
    <div class="space4"></div>
</footer>