<footer>
    <div class="catagory">
        <p class="title">Lochyl</p>
        <a href="https://github.com/JMitchell919/csc403-Temp_Name"><p class="indented">Github</p></a>
    </div>
    <div class="catagory">
        <p class="title">Authors</p>
        <p class="indented">Kiefer Armand</p>
        <p class="indented">Lily Derosa</p>
        <p class="indented">Caleb Matherne</p>
        <p class="indented">Jesse Mitchell</p>
    </div>
    <div class="catagory">
        <p class="title">Extra</p>
    </div>
    <div class="catagory">
        <p class="title">Dev Tools</p>
        <a href="api-logger"><p class="indented">API Logger</p></a>
        <a href="location-spoofer"><p class="indented">Location Spoofer</p></a>
    </div>
</footer>