#header-container {
    position: absolute;
    width: 100%;
    /* display: none; */
    z-index: 1;
}

#subheader-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    transition: margin-top 0.5s ease;
}

#subheader-container.expanded {
    margin-top: 2.75rem;
}

.subheader {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    padding: 0.5rem 1rem;
    height: 3.25rem;
    background: var(--bg-color);
}

.search-field {
    color: var(--text-color);
    background: var(--header-color);

    width: 25vw;
    max-width: 25rem;

    border: var(--button-color);
    border-radius: var(--section-border-radius);

    padding: 0.25rem;
}

.search-field:focus {
    outline: 0.125rem solid var(--button-color);
}

.search-field::placeholder {
    color: var(--text-color)
}

.row {
    align-items: center;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.dropdown-button {
    position: absolute;
    top: 5.25rem;
    right: 1rem;
    transition: transform 0.5s ease;
}



.dropdown-button.expanded {
    transform: rotate(180deg)
}

.subheader button {
    font-size: 1rem;

    padding: 0.25rem 0.5rem;

    color: var(--text-color);
    background: var(--button-color);

    border: none;
    border-radius: var(--button-border-radius);

    cursor: pointer;
    
    transition: background-color 0.2s ease;
}

.subheader button:hover {
    background-color: var(--highlight-color);
}






#posts-section {
    text-align: center;
    margin: 1rem;
}

.post {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(150deg, var(--header-color), var(--bg-color));
    min-width: 30rem;
    width: 80%;
    max-width: 80rem;
    color: var(--text-color);
    border-radius: var(--section-border-radius);
    
}

.highlight {
    border-radius: var(--section-border-radius);
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
    background-color: var(--header-color);
    transition: background-color 0.25s ease;
}

.highlight:hover {
    background-color: rgba(0,0,0,0);
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-author {
    display: flex;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.post-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-location {
    background-color: var(--section-color);
    padding: 0.25rem;
    border-radius: var(--section-border-radius);
}

.post-text {
    display: flex;
    margin: 0;
    width: fit-content;
    margin: 0 0 1rem 4rem;
    padding: 0rem 1rem;
}

.pic {
    width: auto;
    height: auto;
    max-width: 100%;
}

.post-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.like-button,
.dislike-button,
.comment-button {
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;
    
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: 1rem;

    transition: all 0.2s ease;
}

.like-button:hover,
.dislike-button:hover,
.comment-button:hover {
    background-color: var(--section-color);
}

.like-button.liked i,
.dislike-button.disliked i,
.like-button.animate-like,
.dislike-button.animate-dislike {
    color: var(--button-color);
}

.post-anchor {
    text-decoration: none;
    color: var(--text-color);
}

.no-redirect {
    text-decoration: none;
}

.no-redirect:hover {
    cursor: default;

}

/* Hide the modal by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 1rem 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}

/* Modal content (the enlarged image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80vw;
    max-width: 100%;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    padding: 0.25rem 1rem;
    border: none;
    border-radius: 50%;

    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: red;
    background: rgba(255,255,255,0.25);
    text-decoration: none;
}

body.no-scroll {
    overflow: hidden;
}