.post-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;

    width: 80rem;
    max-width: 100%;
    height: fit-content;

    border-radius: var(--section-border-radius);
    background: var(--header-color);
}

.post-text {
    font-size: 1.25rem;
    color: var(--text-color);
    align-self: flex-start;
    margin: 1.5rem 5rem;
}

#post-input {
    width: 60rem;
    max-width: 80%;

    /* min-height: 5rem;
    max-height: 80%; */


    font-size: 1rem;

    background: var(--section-color);
    color: var(--text-color);

    border: var(--button-color);
    border-radius: var(--button-border-radius);

    border: 1rem solid var(--section-color);;

    overflow: hidden;
    resize: none;

    transition: height 0.2s ease;
}

#post-input:focus {
    outline: solid var(--button-color);
}

.post-field-footer {
    width: 60rem;
    max-width: 80%;
    min-height: 4rem;
}

.image-container {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background: linear-gradient(90deg, var(--bg-color), var(--header-color)); 
    border-radius: var(--section-border-radius);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.image-container img {
    height: auto;
    width: auto;
    max-height: 15rem;
    max-width: 25rem;
}

.image-sider {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    width: max-content;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.post-field button,
.file-input {
    margin: 1rem 0;
    padding: 0.5rem 1rem;

    height: fit-content;
    width: fit-content;

    color: var(--text-color);
    background: var(--button-color);

    font-size: 1rem;

    border-radius: var(--button-border-radius);

    cursor: pointer;

    transition: background-color 0.2s ease;
}

#submit-post {
    align-self: flex-end;
}

.image-sider button {
    margin-top: auto;
}

.post-field button:hover,
.file-input:hover {
    background-color: var(--highlight-color);
}