:root {
    --bg-color: #2D3142;
    --header-color: #4F5D75;
    --section-color: #7E8695;
    --text-color: #FFFFFF;
    --button-color: #EF8354;
    --highlight-color: #FFA680;
    
    --section-border-radius: 0.5rem;
    --button-border-radius: 0.25rem;

    margin: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: var(--bg-color); */
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background: var(--header-color);
}

.left {
    padding: 0 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.logo {
    height: 2.5rem;
    padding-top: 0.5rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--text-color);
    background-color: var(--section-color);
    padding: 0 1rem;
    border-radius: var(--section-border-radius);
}

.right {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 0 0.5rem;
}

header button {
    font-size: 1rem;
    
    padding: 0.5rem 1rem;
    
    color: var(--text-color);
    background: var(--button-color);

    border: none;
    border-radius: var(--button-border-radius);

    cursor: pointer;
    
    transition: background-color 0.2s ease;;
}

header button:hover {
    background-color: var(--highlight-color);
}

.hamburger {
    display: none;
}

nav.menu {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}

nav.menu button {
    width: 100%;
}

@media (max-width: 780px) {
    nav.menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: var(--header-color);
        border-radius: var(--section-border-radius);
        outline: 0.25rem solid var(--bg-color);
        z-index: 100;
    }

    nav.menu.show {
        display: flex; /* Show menu when activated */
    }

    .hamburger {
        display: inline-block; /* Show hamburger icon on mobile */
        padding: 0.5rem 1rem;
        background-color: var(--button-color);
        color: var(--text-color);
        border: none;
        border-radius: var(--button-border-radius);
        cursor: pointer;
        font-size: 1rem;
    }

    .hamburger:hover {
        background: var(--highlight-color);
    }
    
    footer {
        font-size: 0.5rem;
    }
}

main {
    flex: 1;
}

footer {
    font-size: 0.8rem;
    padding: 3rem;
    padding-right: 50%;
    min-width: 30rem;
    background: linear-gradient(180deg, var(--header-color), var(--bg-color));
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: bold;
}

.indented {
    margin-left: 3rem;
}

a {
    color: var(--highlight-color)
}